@media screen and (min-width: 500px) { 
    nav {
        max-width: 600px;
    }
    .size {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .home {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1rem;
        column-gap: 1rem;
    }
    .purpose {
        grid-column: 1/3;
    }
}