:root {
    --green: #49b10e;
    --dark-green: #378f04;
    --darker-green: #286e00;
    --white: #fff;
    --border-color: rgb(0 0 0 / 10%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Relief";
}
header {
    background-color: var(--dark-green);
    color: var(--white);
    text-align: center;
    border: 1px solid var(--border-color);
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--darker-green);
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 1rem;
}
section {
    color: var(--white);
    background-color: var(--green);
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    text-align: center;
}
section h2 {
    background-color: var(--dark-green);
    color: var(--white);
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top: 1px solid var(--border-color);
    padding: 1rem;
    margin-bottom: 1rem;
}
section p {
    padding-bottom: 1rem;
}
img {
    height: 500px;
    width: auto;
    margin: 0 auto;
    margin-bottom: 1rem;
}
footer {
    background-color: var(--dark-green);
    color: var(--white);
    text-align: center;
    border: 1px solid var(--border-color);
}

/* calsses */

.wireframe {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.wireframe h2 {
    grid-column: 1/3;
}