:root {
    --header-background-color: #333;
    --nav-background-color: #000;
    --main-background-color: #aaa;
    --aside-background-color: #fff;
    --text-color-light: #fff;
    --text-color-dark: #000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    color: var(--text-color-light);
    background-color: var(--header-background-color);
}
header p {
    padding: 1rem;
    height: 6rem;
}
nav {
    background-color: var(--nav-background-color);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}
nav a {
    color: var(--text-color-light);
    text-decoration: none;
}
main {
    color: var(--text-color-dark);
    background-color: var(--main-background-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 13rem;
}
aside {
    color: var(--text-color-dark);
    background-color: var(--aside-background-color);
}
footer {
    color: var(--text-color-light);
    background-color: var(--header-background-color);
    padding: 1rem;
    text-align: center;
    height: 8rem;
}
/* classes */
.main-content {
    padding: 1rem;
}
.aside-content {
    padding: 1rem;
}