:root {
    --header-background-color: #333;
    --nav-background-color: #000;
    --main-background-color: #aaa;
    --aside-background-color: #fff;
    --text-color-light: #fff;
    --text-color-dark: #000;
    --border-color: rgb(0 0 0 / 10%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    color: var(--text-color-light);
    background-color: var(--header-background-color);
}
header h1 {
    padding: 1rem;
    text-align: center;
}
nav {
    background-color: var(--nav-background-color);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}
nav a {
    color: var(--text-color-light);
    text-decoration: none;
}
nav a:hover {
	text-decoration: overline;
}
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
main h1 {
    grid-column: 1/3;
    text-align: center;
}
footer {
    color: var(--text-color-light);
    background-color: var(--header-background-color);
    padding: 1rem;
    text-align: center;
}
footer p {
    margin: 0.1rem;
}
/* classes */
.card {
    margin: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 1rem;
    background-color: var(--main-background-color);
}
.card h2{
    text-align: center;
    background-color: var(--header-background-color);
    color: var(--text-color-light);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.5rem;
}
.card ul {
    padding-left: 1rem;
    margin: 1rem;
}
.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.about-me h2 {
    grid-column: 1/5;
}
.about-me h3 {
    grid-column: 1/5;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    margin: 0 3rem;
}
.about-me img {
    height: 100px;
    width: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.img1 {
    margin-right: 1rem;
}
.img2 {
    margin-left: 1rem;
}
.self-describe {
    grid-column: 1/4;
    margin: 1rem;
}
.state {
    margin: 1rem;
    grid-column: 2/5;
}