:root {
    --color1: darkgreen;
    --color2: green;
    --color3: lightgrey;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: var(--color1 );
    padding: 1rem;
}
header h1 {
    padding: 1rem;
    background-color: var(--color2);
    width: 100%;
    text-align: center;
    justify-self: center;
}
main {
    max-width: 400px;
    margin: 0 auto;
}
ul li {
    list-style: none;
}
footer {
    background-color: var(--color1);
    padding: 1rem;
}
footer p {
    padding-top: 1rem;
    background-color: var(--color2);
    text-align: center;
    justify-self: center;
}
footer div {
    background-color: var(--color2);
    padding-bottom: 1rem;
}

/* classes */
.data {
    background-color: var(--color3);
    padding-bottom: 1rem;
}
.data h2 {
    text-align: center;
    padding: 1rem;
}
.weather {
    background-color: var(--color3);
    padding-bottom: 1rem;
}
.weather div {
    text-align: center;
    padding: 1rem;
}
.weather img {
    width: 30px;
    height: auto;
}
.stats {
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
}
.stats li:nth-child(odd) {
    text-align: right;
    font-weight: bold;
}